<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm">
                    The <b>Software Maintenance and Intelligent Evolution</b> (SMILE) Research Group, at Rochester
                    Institute of Technology, focuses on desining and implementing intelligent algorithms to tackle
                    software engineering problems. Our goal is to aid developers in better maintening and evolving
                    Software Systems.
                    We are always looking for motivated students at all levels (Bachelor, Masters, PhD) to join us and
                    help us with the cool stuff we do.
                    If you wish to join our group, contact Mohamed Wiem Mkaouer email: mwmvse@rit.edu directly with your
                    Resume.
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <img src="/files/welcome.jpg"
                        width="100%" height="100%" alt="" style="margin: 20px 0px;" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <a class="twitter-timeline" data-height="925" href="https://twitter.com/mwmkaouer?ref_src=twsrc%5Etfw">Tweets by mwmkaouer</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>